/* รีเซ็ตค่าเริ่มต้น */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* การจัด Layout */
body {
    line-height: 1.6;
    color: #161515;
    background-color: #bfc9db;
    font-family: 'Itim', cursive;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #f4d03f; /* สีทองเมื่อ hover */
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}