/* รีเซ็ตค่าเริ่มต้น */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* การจัด Layout */
body {
    line-height: 1.6;
    color: #161515;
    background-color: #bfc9db;
    font-family: 'Itim', cursive;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #f4d03f; /* สีทองเมื่อ hover */
}

main {
    padding: 20px;
    text-align: center;
}

main h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #242424; /* สีเข้ม */
}

main p {
    color: #2f2727;
    font-size: 1.1rem;
}

/* ฟอร์มการติดต่อ */
form {
    background-color: #ffffff;
    padding: 30px;
    margin: 20px auto;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: left;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #262626;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

form button {
    background-color: #0078d4; /* สีฟ้าสดใส */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #005ba1; /* สีฟ้าเข้มขึ้น */
}

form button[type="reset"] {
    background-color: #b61616;
    color: #ffffff;
}

form button[type="reset"]:hover {
    background-color: #8a1818;
}

/* Card Attraction */
.attractions {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    flex: 1 1 300px;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%; /* ความกว้างเต็มพื้นที่ของการ์ด */
    height: 200px; /* กำหนดความสูงคงที่ */
    object-fit: cover; /* ปรับขนาดภาพให้ครอบคลุมโดยไม่ผิดสัดส่วน */
    border-radius: 10px; /* มุมโค้งมน */
    margin-bottom: 15px;
    border: 3px solid #C7C7BB; /* เส้นขอบ */
}

.card p {
    color: #333333;
    margin-top: 10px;
    font-size: 1rem;
}

footer {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 0.9rem;
}